scratch/

#python
*.pyc

#vs
.vscode*

# fme 
*.fmw.recover

# avoid committing credential files
#*.txt

*.log

#only allow AGOL_Publishing\regressiontest\data\*
AGOL_Publishing/Data/*
AGOL_Publishing/SDE_Connections/*
#AGOL_Publishing/regressiontest/credentials/*
